#container
  .overmap
    #box
    #top
      %h1#title
        / GMapEdit
      %ul#menu
        %li 
          %a{:href => '#'}
            Home
          / Submenu
          / end Submenu  
        %li 
          %a{:href => '#'}
            About
        %li 
          %a{:href => '#'}
            Services

  #map
